# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Audio files
audio/*.mp3

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db